
@model IEnumerable<WebApplication1.电梯台帐>


@{
    string buttonId = Guid.NewGuid().ToString("N");
}
<div>
    <div style="width:100%;height:100px">
        @Ajax.ActionLink("查找", "Index", "电梯台账", null, new AjaxOptions
   {
       UpdateTargetId = "table1",
       InsertionMode = InsertionMode.Replace,
       OnBegin = "onloading()",
       OnComplete = "removeload()"
   }, new { @class = "easyui-linkbutton", @id = buttonId })
    </div>



    <table id="dg" title="Client Side Pagination" style="width:100%;height:100%" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:40">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.本次检验日期)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.下次检验日期)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.是否已检)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.设备代码)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.设备状态)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.设备等级)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.内部编号)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.安全管理人员)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.是否移交)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.移交日期)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.原)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.检)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.登)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.所属分厂)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.属地部门)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.设备名称)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.设备型号)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.设备制造单位)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.产品编号)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.出厂日期)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.始用时间)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.固定资产编号)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.维修次数)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.本次检验日期)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.下次检验日期)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.是否已检)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.设备代码)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.设备状态)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.设备等级)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.内部编号)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.安全管理人员)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.是否移交)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.移交日期)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.原)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.检)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.登)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.所属分厂)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.属地部门)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.设备名称)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.设备型号)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.设备制造单位)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.产品编号)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.出厂日期)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.始用时间)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.固定资产编号)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.维修次数)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.序号 }) |
                        @Html.ActionLink("Details", "Details", new { id = item.序号 }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.序号 })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
