@model WebApplication1.起重设备台帐

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>起重设备台帐</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.本次检验日期, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.本次检验日期, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.本次检验日期, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.下次检验日期, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.下次检验日期, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.下次检验日期, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.是否已检, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.是否已检, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.是否已检, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.资料移交, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.资料移交, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.资料移交, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.移交日期, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.移交日期, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.移交日期, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.注册代码, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.注册代码, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.注册代码, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.设备状态, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.设备状态, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.设备状态, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.设备等级, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.设备等级, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.设备等级, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.内部编号, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.内部编号, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.内部编号, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.原, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.原, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.原, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.检, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.检, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.检, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.登, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.登, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.登, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.所属分厂, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.所属分厂, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.所属分厂, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.设备使用地点, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.设备使用地点, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.设备使用地点, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.安装单位, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.安装单位, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.安装单位, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.设备名称, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.设备名称, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.设备名称, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.规格型号, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.规格型号, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.规格型号, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.设备制造单位, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.设备制造单位, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.设备制造单位, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.产品编号, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.产品编号, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.产品编号, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.电动葫芦产品编号, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.电动葫芦产品编号, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.电动葫芦产品编号, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.出厂日期, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.出厂日期, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.出厂日期, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.始用时间, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.始用时间, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.始用时间, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.备注, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.备注, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.备注, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
