@model WebApplication1.起重设备台帐

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>起重设备台帐</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.本次检验日期)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.本次检验日期)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.下次检验日期)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.下次检验日期)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.是否已检)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.是否已检)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.资料移交)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.资料移交)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.移交日期)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.移交日期)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.注册代码)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.注册代码)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.设备状态)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.设备状态)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.设备等级)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.设备等级)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.内部编号)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.内部编号)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.原)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.原)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.检)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.检)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.登)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.登)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.所属分厂)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.所属分厂)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.设备使用地点)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.设备使用地点)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.安装单位)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.安装单位)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.设备名称)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.设备名称)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.规格型号)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.规格型号)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.设备制造单位)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.设备制造单位)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.产品编号)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.产品编号)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.电动葫芦产品编号)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.电动葫芦产品编号)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.出厂日期)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.出厂日期)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.始用时间)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.始用时间)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.备注)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.备注)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
